@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    /**---------------HEADER-----------------*/

    .header-logo {
        margin-right: 76px;
    }

    .header-menu {
        display: flex;
        align-items: center;
    }

    .header-menu__item:not(:last-child) {
        margin-right: 40px;
    }

    .header-menu__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        position: relative;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu__link:hover,
    .header-menu__link:focus {
        color: var(--second-main-color);
    }

    .header-menu__link.current {
        color: var(--second-main-color);
    }

    .header-menu__link::after {
        content: "";
        position: absolute;
        left: 0;
        transform: scaleX(0);
        transition: transform var(--transition);
        width: 100%;
        height: 4px;
        bottom: -1px;
        background-color: var(--second-main-color);
        border-radius: 2px;
    }

    .header-menu__link:hover:after,
    .header-menu__link:focus:after,
    .header-menu__link.current:after {
        transform: scaleX(1);

        -webkit-animation: my-animation 2000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
        animation: my-animation 2000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
    }

    .header-address {
        display: flex;
        margin-left: auto;
        font-style: normal;
    }

    .header-contact {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-contact__link {
        display: block;
        transition: color var(--transition);

        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    }

    .header-contact__link:hover,
    .header-contact__link:focus {
        color: var(--second-main-color);
    }

    .mobile-menu-btn {
        display: none;
    }

    .mob-menu {
        display: none;
    }

    /**------------------HERO------------------*/

    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        align-items: center;
        margin: 0 auto;

        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/banner-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/banner-bg-tablet-x2.jpg);
        }
    }

    .hero-title {
        width: 496px;
        margin-bottom: 36px;
    }

    /**-----------OUR PRINCIPLES AND PRIORITIES-----------*/

    .benefits-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .benefits-list-item-title {
        justify-content: flex-start;
    }

    .benefits-list-item-text {
        width: 356px;
    }

    .benefits-list-item {
        width: calc((100% - 24px) / 2);
    }

    /**-------------------OUR TEAM-------------------*/
    .team-container {
        padding: 0 108px;
    }

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-list__item {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        background-color: #ffffff;
        width: calc((100% - 24px) / 2);
    }

    /**-----------------CUSTOMERS -----------------*/

    .customers-container {
        padding: 0 108px;
    }

    .customers-list__item-wrapper {
        width: calc((100% - 32px) / 3);
    }

    /**---------------FOOTER---------------*/

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-info {
        margin-bottom: 0;
    }

    .footer-container {
        background: var(--title-color);

        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        padding: 0 108px;
    }

    .logo {
        justify-content: start;
    }

    .footer-social {
        margin-bottom: 0;
    }

    .footer-info__text {
        justify-content: start;
    }

    .form-footer {
        display: flex;
        gap: 24px;
        flex-direction: row;
    }

    .form-mail {
        width: 264px;
    }

    /**-----------------OUR GALLERY-----------------*/

    .section-portfolio {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .btn-list {
        justify-content: center;
    }

    .gallery-list {
        column-gap: 24px;
        justify-content: start;
    }

    .gallery-item {
        width: calc((100% - 24px) / 2);
    }
}